@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Prompt&family=Ubuntu+Mono:wght@400;700&display=swap');

/* html{
    --s: 60px; /* control the size
    --c1: #000000;
    --c2: #ff5900;
    --c3: #004e75;
    
    --_g: var(--c3) 0 120deg,#0000 0;
    background:
      conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
      conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
      conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
      conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
      linear-gradient(90deg,var(--c1) calc(100%/6), var(--c2) 0 50%, var(--c1) 0 calc(500%/6),var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);
  } */

/* The Magic Float Center Code */
.heading{
  height:auto;
}
.float_center {
  display:flex;
  width:100%;
  justify-content: center;
  background:#62968073;
  border-radius: 4px;

}
.float_center > .child {
  
}

html{
  width:100%;
  height:100%;
  background: rgb(116,0,144);
  background: linear-gradient(135deg, rgba(116,0,144,1) 0%, rgba(172,49,98,1) 12%, rgba(210,82,67,1) 30%, rgba(148,148,148,1) 59%, rgba(144,150,151,1) 61%, rgba(0,212,255,1) 100%);
}
.text {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  float: left;
  list-style-type: none;
  margin: .5em;
}
ul a {
  display: block;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  color: #C12247;
  font-weight: bold;
  text-transform: uppercase;
  padding: .25em .5em;
  background-color: #ffffff;
	border-radius: 4px;
}

/* div {
  padding: 20px;
  block-size: fit-content(20em)
} */
/* .Rounded_Box{
  border-radius: 3% / 28%; 
  border: 3px groove #B9B3FF;
} */
